.Page404 {
    background: url('../../../Assets/Images/404.jpg') no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}